<div class="span3 process-nav" id="process_nav_wrapper">
   <div class="well sidebar-nav">
     

      <% if current_user.has_role?(:manager) %>
        <%= get_process_nav( :manager , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:machine_builder) %>
        <%= get_process_nav( :machine_builder , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:account_manager ) %>
        <%= get_process_nav( :account_manager , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:cashier) %>
        <%= get_process_nav( :cashier , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:data_entry) %>
        <%= get_process_nav( :data_entry , params ).html_safe %> 
      <% end %>
       
       
      <% if  current_user.has_role?(:technician) %>
        <%= get_process_nav( :technician , params ).html_safe %> 
      <% end %>
   </div><!--/.well -->
 </div><!--/span-->